{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<!-- Contenuto della pagina About -->
<div class="container mt-4">
    <h1>About Flask Blog</h1>
    <p>Questa è la pagina About del nostro Flask Blog. Qui puoi inserire informazioni dettagliate sul tuo progetto,
        sulla sua storia, sui suoi creatori o su qualsiasi altra cosa desideri condividere.</p>
    <p>Modifica questo contenuto come preferisci per adattarlo alle informazioni che desideri mostrare sulla pagina
        About del tuo blog.</p>
</div>
{% endblock %}