{% extends 'base.html' %}
{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}


<h2 style="max-width: 300px; text-align:center;" class="bg-body-secondary text-primary 
border-danger border rounded-3 border-3  mx-auto mt-5">
    &#128526; Mini blog &#128526;
</h2>
{% if tasks|length < 1 %} <h4 style="text-align: center">There are no tasks. Create one below!
    <br>Click Add post
    </h4>
    {% else %}
    <div class="mt-5" style="text-align: center">
        <table style="width: 80%; margin: 0 auto;">
            <thead>
                <tr>
                    <th style="width: 60%; text-align: left;">Title</th>
                    <th style="width: 20%; text-align: left;">Date</th>
                    <th style="width: 10%; text-align: left;">Actions</th>
                    <th style="width: 10%; text-align: left;"></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr style="height:35px;">
                    <td class="text-truncate" style="max-width: 120px; text-align: left;">{{ task.title }}</td>
                    <td style="text-align: left;">{{ task.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td style="text-align: left;">
                        <a class="btn btn-sm btn-success ms-2 me-2" href="/update/{{ task.id }}">Update</a>
                    </td>
                    <td style="text-align: left;">
                        <a class="btn btn-sm btn-danger ms-2" href="/delete/{{ task.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}

    {% endblock %}