{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="form-box mt-5 mx-auto" style="width: 900px;">
        <h3 style="text-align: center">Update Task</h3>
        <form action="/update/{{task.id}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <br>
                <input type="text" id="title" name="title" value="{{task.title}}" maxlength="120" style="width: 40em;">
            </div>

            <div class="form-group">
                <label class="form-label">Articolo</label>
                <br>
                <textarea name="content" id="content" rows="5" class="txt-area">{{task.content}}</textarea>
                <!-- Inserito il contenuto della variabile task.content direttamente all'interno del tag del textarea -->
            </div>
            <hr>
            <input type="submit" value="Update" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}